    <div class="header header-two">
        <div class="header-left">
            <a routerLink="/dashboard" class="logo-one">
                <img src="assets/img/logo.png" width="35" height="35" alt="">
            </a>
        </div>
        <a id="chat_toggle_btn" (click)="toggle()"><img src="assets/img/icon/bar-icon.svg"  alt=""></a>
        <a id="mobile_btn_chat" (click)="toggleMobile()" class="mobile_btn_chat float-start"><img src="assets/img/icon/bar-icon.svg"  alt=""></a>
        <div class="chat-menus chat-top-menu">
            <ul class="nav">
                <li>
                    <a routerLink="/dashboard" >
                        <span class="menu-side"><img src="assets/img/icon/menu-icon-01.svg" alt=""></span>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/blank-chat" >
                       <span class="menu-side"><img src="assets/img/icon/menu-icon-02.svg" alt=""></span>
                        <span>Chats </span>
                    </a>
                </li>
                <li>
                    <a routerLink="/blank-channels" class="active" >
                       <span class="menu-side"><img src="assets/img/icon/menu-icon-03.svg" alt=""></span>
                        <span>Groups</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/blank-meet" >
                        <span class="menu-side"><img src="assets/img/icon/menu-icon-04.svg" alt=""></span>
                        <span>Calls</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="top-nav-search mob-view">
            <form>
                <input type="text" class="form-control" placeholder="Find people, spaces, and messages">
                <a class="btn" ><i class="feather-search"></i></a>
            </form>
        </div>
        <ul class="nav user-menu-head float-end">
            <li class="nav-item dropdown d-none d-sm-block">
                <div class="book-view">
                    <div class="book-dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                             <i class="fas fa-circle me-2 green-status"></i> Active
                        </a>
                        <div class="dropdown-menu" >
                            <a class="dropdown-item" href="javascript:void(0);">
                                <i class="fas fa-circle me-2 green-status"></i> Active
                            </a>
                            <a class="dropdown-item" href="javascript:void(0);">
                                <i class="fas fa-circle me-2 red-status"></i> In Active
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item dropdown d-none d-sm-block">
                <a href="javascript:void(0);" class="dropdown-toggle nav-link bg-box" data-bs-toggle="dropdown"><img src="assets/img/icon/bell.svg" alt=""><span class="pulse"></span></a>
                <div class="dropdown-menu notifications">
                    <div class="topnav-dropdown-header">
                        <span>Notifications</span>
                    </div>
                    <div class="drop-scroll">
                        <ul class="notification-list">
                            <li class="notification-message">
                                <a href="javascript:;">
                                    <div class="media">
                                        <span class="note-users flex-shrink-0">
                                            <img alt="" src="assets/img/profiles/avatar-02.jpg" class="img-fluid">
                                        </span>
                                        <div class="media-body flex-grow-1">
                                            <p class="noti-details"><span class="noti-title">Patient appointment booking</span></p>
                                            <p class="noti-time"><span class="notification-time">4 mins ago</span></p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="notification-message">
                                <a href="javascript:;">
                                    <div class="media">
                                        <span class="note-users flex-shrink-0">
                                            <img alt="" src="assets/img/profiles/avatar-03.jpg" class="img-fluid">
                                        </span>
                                        <div class="media-body">
                                            <p class="noti-details"><span class="noti-title">Appointment booking with payment gateway</span></p>
                                            <p class="noti-time"><span class="notification-time">6 mins ago</span></p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="notification-message">
                                <a href="javascript:;">
                                    <div class="media">
                                        <span class="note-users flex-shrink-0">
                                            <img alt="" src="assets/img/profiles/avatar-04.jpg" class="img-fluid">
                                        </span>
                                        <div class="media-body">
                                            <p class="noti-details"><span class="noti-title">Doctor available module</span></p>
                                            <p class="noti-time"><span class="notification-time">8 mins ago</span></p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="notification-message">
                                <a href="javascript:;">
                                    <div class="media">
                                        <span class="note-users flex-shrink-0">
                                            <img alt="" src="assets/img/profiles/avatar-05.jpg" class="img-fluid">
                                        </span>
                                        <div class="media-body">
                                            <p class="noti-details"><span class="noti-title">Patient and Doctor video conferencing</span></p>
                                            <p class="noti-time"><span class="notification-time">12 mins ago</span></p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="notification-message">
                                <a href="javascript:;">
                                    <div class="media">
                                        <span class="note-users flex-shrink-0">
                                            <img alt="" src="assets/img/profiles/avatar-06.jpg" class="img-fluid">
                                        </span>
                                        <div class="media-body">
                                            <p class="noti-details"> <span class="noti-title">Private chat module</span></p>
                                            <p class="noti-time"><span class="notification-time">2 days ago</span></p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="topnav-dropdown-footer">
                        <a href="javascript:void(0);">View all Notifications</a>
                    </div>
                </div>
            </li>
            <li class="nav-item d-none d-sm-block">
                <a href="javascript:void(0);" id="dark-mode-toggle" class="bg-box"><img src="assets/img/icon/moon.svg" alt=""> </a>
            </li>
            <li class="nav-item dropdown has-arrow user-profile-list">
                <a href="javascript:void(0);" class="dropdown-toggle nav-link user-link" data-bs-toggle="dropdown">
                    <span class="user-img">
                        <img  src="assets/img/profiles/avatar-01.jpg"  alt="Admin">
                    </span>
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" routerLink='/login'>Logout</a>
                </div>
            </li>
        </ul>
        <div class="dropdown mobile-user-menu float-end">
            <a href="javascript:void(0);" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-ellipsis-vertical"></i></a>
            <div class="dropdown-menu dropdown-menu-end">
                <a class="dropdown-item" routerLink='/login'>Logout</a>
            </div>
        </div>
    </div>
    
    <div class="sidebar" id="sidebar" (mouseover)="onMouseChange('mouseover')" (mouseout)="onMouseChange('mouseout')">
        <div class="sidebar-inner slimscroll">
        <perfect-scrollbar>
            <div id="sidebar-menu-one" class="sidebar-menu-one">
                <ul>
                    <li class="chats-add">
                        <h4>Channel<a href="javascript:;" data-bs-toggle="modal" data-bs-target="#add-new-group"><i class="feather-plus"></i></a></h4>
                    </li>
                    <li>
                        <div class="side-nav-search">
                            <form>
                                <input type="text" class="form-control" placeholder="Search here">
                                <a class="btn"><i class="feather-search"></i></a>
                            </form>
                        </div>
                    </li>
                    <li>
                        <div class="chat-user-actives active">
                            <a routerLink="/channels" class="d-flex align-items-center">
                                <div class="chat-call-user">
                                    <span class="letter-avatar bg-light-blue">F</span>
                                </div>
                                <div class="chat-users-recent">
                                    <div class="recent-user-titles d-flex">
                                        <h5>Fashion Plus</h5>
                                    </div>
                                    <div class="recent-user-text d-flex">
                                        <p>It seems logical that the</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="chat-user-actives">
                            <a routerLink="/channels" class="d-flex align-items-center">
                                <div class="chat-call-user ">
                                    <span class="letter-avatar bg-light-gray">T</span>
                                </div>
                                <div class="chat-users-recent">
                                    <div class="recent-user-titles d-flex">
                                        <h5>Tech Support</h5>
                                    </div>
                                    <div class="recent-user-text d-flex">
                                        <p>It seems logical that the</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="chat-user-actives">
                            <a routerLink="/channels" class="d-flex align-items-center">
                                <div class="chat-call-user">
                                    <span class="letter-avatar bg-decor">H</span>
                                </div>
                                <div class="chat-users-recent">
                                    <div class="recent-user-titles d-flex">
                                        <h5>Home Decor</h5>
                                    </div>
                                    <div class="recent-user-text d-flex">
                                        <p>It seems logical that the</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="chat-user-actives">
                            <a routerLink="/channels" class="d-flex align-items-center">
                                <div class="chat-call-user">
                                    <span class="letter-avatar bg-interior">I</span>
                                </div>
                                <div class="chat-users-recent">
                                    <div class="recent-user-titles d-flex">
                                        <h5>Interior Design</h5>
                                    </div>
                                    <div class="recent-user-text d-flex">
                                        <p>It seems logical that the</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="chat-user-actives">
                            <a routerLink="/channels" class="d-flex align-items-center">
                                <div class="chat-call-user">
                                    <span class="letter-avatar bg-photo">P</span>
                                </div>
                                <div class="chat-users-recent">
                                    <div class="recent-user-titles d-flex">
                                        <h5>Photography</h5>
                                    </div>
                                    <div class="recent-user-text d-flex">
                                        <p>It seems logical that the</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="chat-user-actives">
                            <a routerLink="/channels" class="d-flex align-items-center">
                                <div class="chat-call-user">
                                    <span class="letter-avatar bg-inspir">P</span>
                                </div>
                                <div class="chat-users-recent">
                                    <div class="recent-user-titles d-flex">
                                        <h5>Inspiration</h5>
                                    </div>
                                    <div class="recent-user-text d-flex">
                                        <p>It seems logical that the</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="chat-user-actives">
                            <a routerLink="/channels" class="d-flex align-items-center">
                                <div class="chat-call-user">
                                    <span class="letter-avatar bg-art">A</span>
                                </div>
                                <div class="chat-users-recent">
                                    <div class="recent-user-titles d-flex">
                                        <h5>Artwork</h5>
                                    </div>
                                    <div class="recent-user-text d-flex">
                                        <p>It seems logical that the</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="chat-user-actives">
                            <a routerLink="/channels" class="d-flex align-items-center">
                                <div class="chat-call-user">
                                    <span class="letter-avatar bg-handmade">H</span>
                                </div>
                                <div class="chat-users-recent">
                                    <div class="recent-user-titles d-flex">
                                        <h5>Handmade</h5>
                                    </div>
                                    <div class="recent-user-text d-flex">
                                        <p>It seems logical that the</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="chat-user-actives">
                            <a routerLink="/channels" class="d-flex align-items-center">
                                <div class="chat-call-user">
                                    <span class="letter-avatar bg-light-orange">D</span>
                                </div>
                                <div class="chat-users-recent">
                                    <div class="recent-user-titles d-flex">
                                        <h5>Design Inspiration</h5>
                                    </div>
                                    <div class="recent-user-text d-flex">
                                        <p>It seems logical that the</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            </perfect-scrollbar>
        </div>
    </div>
    <div class="page-wrapper-chat">
        <div class="content">
            <div class="row">
                <div class="col-xl-12">
                    
                    <!-- Chat -->
                    <div class="card chat-empty card-comman ">
                        <div class="chat-body-group channel-body-grp">
                        
                            <!-- Chat Body Head -->
                            <div class="chat-body-blk mb-0">
                                <div class="chat-body-sub-blk chennel-body">
                                    <div class="nav-item dropdown has-arrow user-chat-list">
                                        <a href="javascript:void(0);" class="dropdown-toggle nav-link user-link" data-bs-toggle="dropdown" aria-expanded="false">
                                            <div class="chat-call-user">
                                                <span class="letter-avatar bg-light-blue">F</span>
                                            </div>
                                            <div class="user-names-chat">
                                                <h5>Fashion Plus</h5>
                                            </div>
                                        </a>
                                        <div class="dropdown-menu profile-sub-list" >
                                            <a class="dropdown-item" href="javascript:;"><span><img  src="assets/img/icon/profile-icon-02.svg" alt=""></span>Add New Contact</a>
                                            <a class="dropdown-item" href="javascript:;"><span><img  src="assets/img/icon/profile-icon-01.svg" alt=""></span>Mark as unread</a>
                                            <a class="dropdown-item" routerLink="/join-call"><span><img  src="assets/img/icon/profile-icon-03.svg" alt=""></span>New Meeting</a>
                                            <a class="dropdown-item" href="javascript:;"><span><img  src="assets/img/icon/arrow-down-left.svg" alt=""></span>Leave</a>
                                            <a class="dropdown-item" href="javascript:;"><span><img  src="assets/img/icon/profile-icon-06.svg" alt=""></span>Block this channel</a>
                                        </div>
                                    </div>
                                    <div class="channel-group">
                                        <div class="chennels-img-blk">
                                            <img  src="assets/img/profiles/avatar-04.jpg" width="24" alt="">
                                        </div>
                                        <div class="chennels-img-blk">
                                            <img  src="assets/img/profiles/avatar-02.jpg" width="24" alt="">
                                        </div>
                                        <div class="chennels-img-blk">
                                            <img  src="assets/img/profiles/avatar-03.jpg" width="24" alt="">
                                        </div>
                                        <div class="chennels-img-blk">
                                            <img  src="assets/img/profiles/avatar-01.jpg" width="24" alt="">
                                        </div>
                                        <div class="chennels-invite">
                                            <a href="javascript:;" class="btn btn-primary">+ Invite</a>
                                        </div>
                                    </div>
                                    <div class="sub-list-search">
                                        <a href="javascript:;" class="chat-search-btn"><i class="feather-search"></i></a>
                                    </div>
                                </div>
                                <div class="chat-file-blk">
                                    <a routerLink="/channels" class="btn btn-primary me-1">Chat</a>
                                    <a routerLink="/blank-files" class="btn btn-primary active-btns">Files</a>
                                </div>
                                <div class="channel-add-file">
                                    <a routerLink="/channel-file" class="btn btn-primary"><span><i class="feather-upload"></i></span>Add File</a>
                                </div>
                                <div class="chat-search-blk">
                                    <form>
                                        <span class="fas fa-search form-control-feedback"></span>
                                        <input type="text" name="chat-search" placeholder="Search Chats" class="form-control">
                                        <div class="close-btn-chat"><span class="material-icons">close</span></div>
                                    </form>
                                </div>
                                <div class="channels-nodatas">
                                    <img src="assets/img/nodata-01.png" alt="img" class="img-fluid">
                                    <p>No files found</p>
                                </div>
                            </div>
                            <!-- /Chat Body Head -->
                            
                        </div>
                    </div>
                    <!-- /Chat -->
                    
                </div>
            </div>
        </div>
    </div>
    


<!-- Add New Group -->
<div class="modal fade dream-modal" id="add-new-group">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Create a New Channel
                </h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span class="material-icons">close</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Card -->
                <form action="new-friends">
                    <div class="form-group">
                        <label>Group Name</label>
                        <input class="form-control" name="new-chat-title" type="text">
                    </div>
                    <div class="form-group">
                        <label>Choose profile picture</label>
                        <div class="custom-input-file form-control group_formcontrol">
                            <input type="file" class="">
                            <span class="browse-btn">Browse File</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Topic (optional)</label>
                        <input class="form-control" name="new-chat-title" type="text">
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea class="form-control"></textarea>
                    </div>
                </form>
                <!-- Card -->
                <div class="form-row profile_form text-end float-end m-0 align-items-center">
                    <div class="newgroup_create">
                        <button type="button" class="btn btn-primary  mb-0" data-bs-toggle="modal" data-bs-target="#add-group-member" data-bs-dismiss="modal" aria-label="Close">
                            Add Participants
                        </button>
                    </div>
                </div>
            </div>       
        </div>
    </div>
</div>
<!-- /Add New Group -->