<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-xl-6 p-0">
            
            <!-- Register -->
            <div class="login-wrapper">
                <div class="loginbox">
                    <div class="log-header">
                        <a href="javascript:void(0);" class="navbar-brand logo">
                            <img src="assets/img/logo.png" class="img-fluid" width="35" alt="Logo">
                            <span>Dreamschat</span>
                        </a>
                    </div>
                    <h1>Welcome to <span>Dreamschat</span> <br>Sign Up to gettings started.</h1>
                    <div class="form-signin">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Email Address ">
                                    <span class="profile-views"><img src="assets/img/icon/mail-icon.svg" alt=""></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="First Name">
                                    <span class="profile-views"><img src="assets/img/icon/user-login.svg" alt=""></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Last Name">
                                    <span class="profile-views"><img src="assets/img/icon/user-login.svg" alt=""></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input [type]="password" class="form-control pass-input" placeholder="Password">
                                    <span class="profile-views feather-eye toggle-password" (click)="onClick('password')" *ngIf="show1"></span>
                                    <span class="profile-views feather-eye-off toggle-password" (click)="onClick('password')" *ngIf="!show1"></span>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input [type]="confirmPassword" class="form-control pass-confirm" placeholder="Confirm Password">
                                    <span class="profile-views feather-eye reg-toggle-password" (click)="onClick('confirmPassword')" *ngIf="show2"></span>
                                    <span class="profile-views feather-eye-off reg-toggle-password" (click)="onClick('confirmPassword')" *ngIf="!show2"></span>

                                </div>
                            </div>
                            <div class="d-grid">
                                <button class="btn btn-primary btn-signin" type="submit" (click)="direction()">Sign Up</button>
                            </div>
                        </div>
                        <div class="dont-have">Don’t have an account? <a routerLink="/login">Login</a></div>
                        <div class="login-or">
                            <p class="span-or">or</p>
                        </div>
                        
                        <!-- Social Login -->
                        <div class="social-login">
                            <a href="javascript:void(0);"><img src="assets/img/google.png" class="img-fluid" alt="Logo"></a>
                            <a href="javascript:void(0);"><img src="assets/img/fb.png" class="img-fluid" alt="Logo"></a>
                        </div>
                        <!-- /Social Login -->
                        
                    </div>
                </div>
            </div>
            <!-- /Register -->
        </div>
        
        <!-- Banner -->
        <div class="col-xl-6 login-bg">
            <div class="login-banner"></div>
        </div>
        <!-- /Banner -->
        
    </div>
</div>